.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar > ul {
    justify-content: space-evenly;
    display: inherit;
    flex: 2;
}

.navbar_left {
    justify-content: space-evenly;
}

.navbar_right {
    justify-content: space-evenly;
}

.navbar_left > li {
    list-style: none;
}

.navbar_right > li {
    list-style: none;
}