.banner {
    width: 80vw;
    height: 40vh;
    background-image: url('./Images/logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    .banner {
        background-image: url('./Images/icon.png');
        background-size: contain;
    }
}
